.bg {
  background: #63ddff;
}

@media (max-width: 991px) {
  .skip_and_next_btn {
    margin-top: 20px;
  }
  .extra_info_data{
    font-size: 18px;
  }
}

@media (min-width: 991px) {
  .skip_and_next_btn {
    margin-top: 326px;
  }

  .skip_and_next_btn_for_scrn_3 {
    margin-top: 160px;
  }
  .extra_info_data{
    font-size: 22px;
  }

  .animationObject {
    width: 100px;
    height: 100px;
    position: relative;
    animation: myfirst 5s 1;
  }
  
  @keyframes myfirst {
    0% {
      left: -200px;
      top: 0px;
    }
  
    25% {
      left: 0px;
      top: 0px;
    }
  }
}

@media (max-width: 1199px) {
  .extra_info {
    display: none;
  }
}